{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    
    <title>Tutorsearch</title>
</head>
<body>

    <!--navbar goes here-->
    {%include 'main/navbar.html'%}
    {%block content%}  
    {%endblock%}
    
    
    

      <!--second blue background goes here-->
      <section class="motto-bg">
        <div class="px-4 py-5 my-6 text-center">
            <h1 class=" fw-bold text-white  ">EDUCATION IS OUR BUSINESS</h1>
            <h3 class=" fw-bold text-white ">FIND A GREAT PLACE TO LEARN</h3>
            <div class="col-lg-6 mx-auto">
              <br>
              <form method="POST" action="discoverPage/">
                  {%csrf_token %}
                <div class="input-group">
                        <input name="search" t ype="search" class="form-control form-control-lg" placeholder="Search by name" aria-label="Search"
                        aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-outline-success text-white badge bg-success"">search</button>
                </div>
              </form> 
              <br> 
            </div>
            </div>
        </div>
     </section>


    {% if user.is_authenticated %}
    
    {%else%}
      <!--ask for login goes here-->
      <section class="ask-for-log">
        <br>
            <div class="card  my-6 text-center" >
              <h5 class="card-header">Attention</h5>
              <div class="card-body">
                <h5 class="card-title">Login/Register now!</h5>
                <p class="card-text">In order to use whole optimised options please sign-up now</p>
                <a href="{% url 'loginPage'%}" class="btn btn-primary">Login Now</a>
              </div>
            </div>
      </section>  
     {%endif%}

      <!--recommended page goes here-->
   
    <section class="recommended ">
    
       <br>
     {% if user.is_authenticated %}  
      <h3 class="recommend-title" style="text-align: center; text-transform: uppercase; " >Recommended to {{request.user}}</h3>
     {%else%}
      <h3 class="recommend-title" style="text-align: center; text-transform: uppercase; " >Recommended to you</h3>
     {%endif%}
      <br>

      


      
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {%for company in companies%}
          {%if company.completed == True %}
          <div class="col">
            <div class="card h-100">
              {%if company.company_pic%}
              <img
                src="{{company.company_pic.url}}"
                class="card-img-top"
                alt="rasm"
              />
              {%endif%}
              <div class="card-body">
                <h5 class="card-title"><a style="text-decoration: none;" href="{% url 'ViewAccountPage' company.id%}">{{company.company_name}}</a></h5>
                <p class="card-text">{{company.company_about}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Since: {{company.company_added|date:' M Y'}}</small>
              </div>
            </div>
          </div>
          {%endif%} 
        {%endfor%}
      </div>
     </section>
     
    <!--bg-black goes here-->
     <div class="py-5 bg-image-full" id="black-bg">
        <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
        <center> 
          <h3 class="mottos-bg">use for free at anytime</h3>
          <p class="motto-bg2">all you need is sign-up and use</p>
        </center>
      </div>

      <!--features section goes here-->
      <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><img src="https://img.icons8.com/fluent/48/000000/login-rounded-right.png"/></div>
                    <h2 class="h4 fw-bolder">REGISTER</h2>
                    <p>Register your Education Center by giving all trusted information about EC</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-danger bg-gradient text-white rounded-3 mb-3"><img src="https://img.icons8.com/fluent/48/000000/heart-with-pulse.png"/></div>
                    <h2 class="h4 fw-bolder">SEARCH OR DISCOVER</h2>
                    <p>In our platform you can either check reputations of other EC as well as you can aplly them online</p>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><img src="https://img.icons8.com/fluent/48/000000/cloud-checked.png"/></i></div>
                    <h2 class="h4 fw-bolder">RUN BUSINESS</h2>
                    <p>By registering your Educational Center you can also find someone who has willing to study in your EC also it is both beneficial for someone who wishes to study somewhere</p>
                </div>
            </div>
        </div>
    </section>

    
   <!--footer side goes here-->
   
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #007AAF;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Tutorsearch Beta</span>
            
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" >Personal Project</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

     
</body>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>