<nav class="navbar navbar-expand-lg   navbar-dark" style="background-color: #006CAF;" >
        <div class="container-fluid">
          <a class="navbar-brand   "  style="margin-left: 3em;"  href="{% url 'mainPage' %}">TUTORSEARCH</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav center" >
              <li class="nav-item">
                <a class="nav-link active"  href="{% url 'mainPage'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'discoverPage'%}">Discover</a>
              </li>
              {%if user.is_authenticated%}
                
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'accountPage'%}">Account </a>
                </li>
                
              {%endif%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'loginPage'%}">Login</a>
              </li>
               
              {%if user.is_authenticated%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logoutPage'%}">LogOut</a>
              </li>
              {%endif%} 
            </ul>
          </div>
        </div>
</nav>
